@tailwind base;
@tailwind components;
@tailwind utilities;




h1 { 
  @apply text-6xl font-extrabold
}
h2 { 
  @apply text-5xl font-bold
}
h3 { 
  @apply text-4xl font-bold
}
h4 { 
  @apply text-3xl font-bold
}
h5 { 
  @apply text-2xl font-bold
}
h6 { 
  @apply text-xl font-bold
}

.text-light {
  @apply text-[#a6a6b3]
}
.text-extralight {
  @apply text-[#888888]
}

input {
  @apply  py-4 pl-4 pr-12 outline-none focus:ring-1 ring-primary text-light border focus:border-transparent transition duration-500  ease-in-out
}



.hover-right {
  box-shadow: inset 0 0 0 0 #1e1e2a;
  transition: color .3s ease-in-out, .3s ease-in-out;
}
.hover-right:hover {
  box-shadow: inset 500px 0 0 0 #1e1e2a;
  color: white;
}
.hover-right-inv {
  box-shadow: inset 0 0 0 0 #eb3848;
  transition: color .3s ease-in-out, .3s ease-in-out;
}
.hover-right-inv:hover {
  box-shadow: inset 500px 0 0 0 #eb3848;
  color: white;
}


button{
  @apply 
  bg-primary 
  py-2 
  text-white font-bold 
  w-full rounded-sm 
  flex justify-center items-center gap-2 
  focus:ring-1 ring-primary/60
  hover-right
}

.btn-inverted {

  @apply 
  bg-secondary-light 
  py-2 
  text-white font-bold 
  w-full rounded-sm 
  flex justify-center items-center gap-2 
  focus:ring-1 ring-secondary-dark/60
  hover-right-inv

}
